* {
    text-decoration: none;
    margin: 0px auto;
    padding: 0px;
    border: 0px;
    font-family: "Basis Grotesque Light", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: black;
}

body {
    background-color: #efefef;
}

li{
    
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin: 0 0 50px;
}

.leftMenu {
    position: fixed;

    width: 40px;
    display:block;
    top: 0;
    left: 0;
}

.leftMenuItem {
    height: 40px;
    cursor: pointer;
}

.trash{
    margin: 8px 10px;
}

.trash:hover{
    transform: scale(1.15) 
}

.contextMenu {
    background-color: white;
    position: absolute;
    height: auto;
    width: 220px;
    display:inline-block;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 4;
}

.menuItem{
    width: 210px;
    padding:5px;
    display:block;
}

.menuItem:hover{
    background-color: #3b6ed7;
    color: white;
}

.card {
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    float: left;
    margin: 15px;
    cursor: pointer;
}

.invisible {
   opacity: 0;
}

.card:hover {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
}

.plus {
    background: rgba(0, 0, 0, 0.8) url(plus.svg) no-repeat center;
    background-size: 20%;
    width: 100%;
    height: 160px;
    display: inline-block;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.img {
    border-radius: 4px 4px 0 0;
    background-color: #666;
    width: 100%;
    height: 160px;
    display: inline-block;
}

.name {
    padding: 9px;
}

.pridat {
    padding: 9px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
}

.cardList {
    margin: 80px auto;
    width: 1320px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.95);
    position: fixed;
    z-index: 3;
    top: 0;
    animation: zoom 0.2s ease-in-out;
}

.transparentOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}


.addForm {
    margin: 0px auto;
    width: 800px;
    position: fixed;
    z-index: 5;
    left: 50%;
    margin-left: -400px;
}

.searchForm {
    padding-top: 80px; 
    width: 1290px;
}

.searchBar {
    float: left;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 45px;
    padding-left: 17px;
}

.weburl {
    float: left;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 0.3);
    background-color: white;
    z-index: 5;
    height: 30px;
    padding-left: 10px;
}

.weburl.fail {
    border: 1px solid #d40000 !important;
    background-color: #ffefef;
    animation: pulse 0.25s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.card {
    animation: pop 0.25s ease-in-out;
}

@keyframes zoom {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.addButton {
    float: right;
    width: 30px;
    height: 30px;
    margin: 4px;
    z-index: 7;
    margin-top: -30px;
    background: transparent;
}

.addButton:focus {
    outline-color: transparent;
    outline-style: none;
}

.searchButton {
    float: right;
    width: 30px;
    height: 30px;
    margin: 7px;
    margin-top: -37px;
    background: transparent;
}

.searchButton:focus {
    outline-color: transparent;
    outline-style: none;
}

.rotator {
    width: 15px;
    height: 15px;
    animation: rotate 1s infinite linear;
}

.arrow {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.g {
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.crossWraper {
    width: 26px;
    height: 26px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(50, 50, 50, 0.9);
    border: 1px solid black;
    box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 0.2);
    float: right;
}

.cross {
    margin: 7px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1330px) {
    .cardList {
        width: 990px;
    }
    .searchForm {
        width: 960px;
    }
}

@media (max-width: 1000px) {
    .cardList {
        width: 660px;
    }
    .searchForm {
        width: 630px;
    }
}

@media (max-width: 670px) {
    .cardList {
        width: 330px;
    }
    .searchForm {
        width: 300px;
    }
}
